<div class="form flex flex-column" *ngIf="showForm">
  <form class="new-gateway-device-form">
    <mat-form-field class="full-width">
      <input
        type="text"
        placeholder="Devices"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="valueSelected($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.vendor }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addDeviceToGateway()">
      Add device to Gateway
    </button>
    <button mat-raised-button color="seconday" (click)="toggleForm()">
      Canel
    </button>
  </form>
  <div class="error" *ngIf="inlineErrorMessage">{{ inlineErrorMessage }}</div>
</div>
<div class="readMode flex justify-content-center flex-column align-items-center" *ngIf="!showForm">
    <div *ngIf="devicesCount === 0" class="no-devices">
      No Devices linked to this gateway
    </div>
    <button
      mat-raised-button
      class="light-blue"
      (click)="toggleForm()"
      *ngIf="!showForm">
      Add new Device
    </button>
</div>
